@media (max-width: 999px) {
  .swapcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .agreement-img {
    display: none;
  }

  
}

@media (min-width: 1000px) {
  .swap-container {
    .swapcards-container {
      display: flex;

      .agreement-img {
        margin-top: 4rem;

        img {
          height: 70px;
        }
      }
    }

    .buttons-container {
      margin-top: 3em;
      text-align: center;

      span {
        background-color: #18182d;
        transition: all 0.7s ease-in-out;
        padding: 0.5em 1.5em;
        border-radius: 2em;
        color: white;
        border: 1px solid rgb(119, 0, 255);
      }

      :hover {
        cursor: pointer;
      }
    }
  }
}
