@media (min-width: 720px) {
  .container {
    display: flex;

    .sidenav-container {
      width: 330px;
    }

    .outlet-container {
      width: 70%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
