.wallet-search {
  margin-top: 1.5em;
  margin-bottom: 3em;

  input {
    font-size: 1.05rem;
    background: #22223f;
    text-align: center;
    border: none;
    border-radius: 24px;
    height: 2em;
    width: 100%;
    outline: none;
    color: white;
  }
}
