.nft-container {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(auto-fill, 155px);
  margin: 0;
  padding: 0;
}

@media (max-width: 999px) {
  .nft-container {
    width: inherit;
    margin: 0 auto;
  }
}
