.nft-card {
  background: linear-gradient(0deg, #18182d 16%, #0d0d2300 100%);
  border-radius: 10px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  width: 155px;
}

.nft-card .nft-img {
  width: 100%;
  height: 125px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.nft-card .nft-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nft-id {
  width: 40%;
  height: 2vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nft-id {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.nft-details {
  padding: 0 10px 10px 10px;
  padding-top: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.nft-card .nft-name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: white;
  word-wrap: break-word;
}

.IdnBtns {
  display: flex;
  justify-content: space-between;
}

.nft-name {
  height: 5vh;
}

.pending {
  filter: brightness(0.4);
}

.nft-card .selected {
  border: 1px solid #51bfffab;
}

.nft-img .check-nft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(270deg, #51bfffab 0%, #9452ffa4 100%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 55px;
    height: 55px;
  }
}

.checked {
  background: linear-gradient(270deg, #51bfffab 0%, #9452ffa4 100%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
